rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} { allow read, write: if request.auth != null && request.auth.uid == userId; }
    match /organizations/{orgId} {
      allow read: if request.auth != null && exists(/databases/$(database)/documents/organizations/$(orgId)/members/$(request.auth.uid));
      allow write: if false;
      match /members/{userId} {
        allow read: if request.auth != null && exists(/databases/$(database)/documents/organizations/$(orgId)/members/$(request.auth.uid));
        allow write: if false;
      }
      match /policies/{policyId} {
        allow read: if request.auth != null && exists(/databases/$(database)/documents/organizations/$(orgId)/members/$(request.auth.uid));
        allow write: if false;
      }
      match /documents/{documentId} {
        allow read: if request.auth != null && exists(/databases/$(database)/documents/organizations/$(orgId)/members/$(request.auth.uid));
        allow write: if false;
      }
      match /audits/{auditId} {
        allow read: if request.auth != null && exists(/databases/$(database)/documents/organizations/$(orgId)/members/$(request.auth.uid));
        allow write: if false;
        match /findings/{findingId} {
          allow read: if request.auth != null && exists(/databases/$(database)/documents/organizations/$(orgId)/members/$(request.auth.uid));
          allow write: if false;
        }
        match /events/{eventId} {
          allow read: if request.auth != null && exists(/databases/$(database)/documents/organizations/$(orgId)/members/$(request.auth.uid));
          allow write: if false;
        }
      }
    }
  }
}
